*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: blue;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/Persona.jpg");
    background-size: cover;
    height: 579px;
    padding: 10px;
}
nav{
    border: solid #0C00F0 3px;
    display: flex;
    justify-content: space-between;
    height: 62px;
    border-radius: 73px;
    align-items: center;
    padding: 8px 10px;
    backdrop-filter: blur(20px);
}

a{
    padding: 8px 16px;
    margin: 10px;
    font-size: 23px;
    text-decoration: none;
    color: white;
}
a:hover {
background-color: rgba(0, 0, 255, 0.459);
border-radius: 35px;
}

p{
    color: white;
}

.titre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 108px;
}

.debut{
    font-size: 34px;
    margin: 0;
}

.fin{
    font-size: 23px;
    margin: 0;
}

h1{
    margin: 0;
    font-size: 64px;
    color: black;
}

.split-text-container {
    display: flex;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden;
}

.text-part {
    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.text-part.left {
    transform: translateX(-200%);
    animation-name: slide-in-left;
}

.text-part.right {
    transform: translateX(200%);
    animation-name: slide-in-right;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

